.url {

    max-width: 40rem;
    justify-content: space-between;
}

.url .longUrl {
    text-overflow: ellipsis;
    width: 300px;
    /* margin-right: 1rem; */
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle; 
}

.url .rightDiv {
    display: inline-block;

}

.url .shortUrl {
    padding-right: 1rem;
}